/** @type {import('next').NextConfig} */
const nextConfig = {
  output: "export", // Enables static exports
  basePath: "/valentine-wordle", // Replace with your repository name (leading slash is important)
  assetPrefix: "/valentine-wordle/", // Replace with your repository name (leading and trailing slashes)
};

module.exports = nextConfig;
