.heart-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.heart {
  position: absolute;
  opacity: 0.6;
  animation: float 20s infinite ease-in-out;
}

.heart-1 {
  width: 80px;
  height: 80px;
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.heart-2 {
  width: 60px;
  height: 60px;
  top: 20%;
  right: 15%;
  animation-delay: 2s;
}

.heart-3 {
  width: 100px;
  height: 100px;
  top: 50%;
  left: 5%;
  animation-delay: 4s;
}

.heart-4 {
  width: 70px;
  height: 70px;
  top: 60%;
  right: 10%;
  animation-delay: 6s;
}

.heart-5 {
  width: 90px;
  height: 90px;
  bottom: 20%;
  left: 20%;
  animation-delay: 8s;
}

.heart-6 {
  width: 50px;
  height: 50px;
  bottom: 15%;
  right: 25%;
  animation-delay: 10s;
}

.heart-7 {
  width: 75px;
  height: 75px;
  top: 30%;
  left: 50%;
  animation-delay: 12s;
}

.heart-8 {
  width: 65px;
  height: 65px;
  bottom: 30%;
  right: 50%;
  animation-delay: 14s;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .heart-1 {
    width: 50px;
    height: 50px;
    top: 5%;
    left: 5%;
  }

  .heart-2 {
    width: 40px;
    height: 40px;
    top: 15%;
    right: 10%;
  }

  .heart-3 {
    width: 60px;
    height: 60px;
    top: 40%;
    left: 2%;
  }

  .heart-4 {
    width: 45px;
    height: 45px;
    top: 50%;
    right: 5%;
  }

  .heart-5 {
    width: 55px;
    height: 55px;
    bottom: 15%;
    left: 10%;
  }

  .heart-6 {
    width: 35px;
    height: 35px;
    bottom: 10%;
    right: 15%;
  }

  .heart-7 {
    width: 50px;
    height: 50px;
    top: 25%;
    left: 45%;
  }

  .heart-8 {
    width: 45px;
    height: 45px;
    bottom: 25%;
    right: 45%;
  }
}

/* Smaller mobile devices */
@media (max-width: 480px) {

  .heart-1,
  .heart-2,
  .heart-3,
  .heart-4,
  .heart-5,
  .heart-6,
  .heart-7,
  .heart-8 {
    width: 30px;
    height: 30px;
  }
}